<div id="sidebar" class="sidebar">
  <button id="toggleSidebar" onclick="toggleSidebar()">☰</button>
    <ul class="menu-list">
    <li>
      <h3>Gestão de Pacientes</h3>
      <ul>
        <li>
          <a href="/pacientes/agendamento"
            >Agendamento/Cancelamento de Consulta/Exame</a
          >
        </li>
        <li><a href="/pacientes/teleconsulta">Teleconsulta</a></li>
        <li><a href="/pacientes/historico">Consulta Histórico Clínico</a></li>
        <li><a href="/pacientes/notificacoes">Configurar Notificações</a></li>
      </ul>
    </li>
    <li>
      <h3>Gestão de Profissionais</h3>
      <ul>
        <li>
          <a href="/profissionais/agenda"
            >Gestão de Agenda (Consultas e Exames)</a
          >
        </li>
        <li><a href="/profissionais/receita">Emissão Receita Digital</a></li>
        <li>
          <a href="/profissionais/prontuario">Registro em Prontuário Médico</a>
        </li>
        <li>
          <a href="/profissionais/historico">Consulta Histórico Clínico</a>
        </li>
      </ul>
    </li>
    <li>
      <h3>Gestão de Administradores</h3>
      <ul>
        <li>
          <a href="/administradores/cadastro-pacientes" id="cadastroPacientesLink"
            >Cadastro de Pacientes</a
          >
        </li>
        <li>
          <a href="/administradores/cadastro-profissionais"
            >Cadastro de Profissionais</a
          >
        </li>
        <li>
          <a href="/administradores/leitos">Cadastro e Controle de Leitos</a>
        </li>
        <li><a href="/administradores/relatorios">Relatórios</a></li>
      </ul>
    </li>
    <li>
      <h3>Telemedicina</h3>
      <ul>
        <li><a href="/telemedicina/atendimento">Atendimento Remoto</a></li>
      </ul>
    </li>
    <li>
      <h3>Gestão de Usuários</h3>
      <ul>
        <li>
          <a href="/usuarios/cadastro-administrador"
            >Cadastro de Administrador</a
          >
        </li>
        <li><a href="/usuarios/cadastro-paciente">Cadastro de Paciente</a></li>
        <li>
          <a href="/usuarios/cadastro-profissional"
            >Cadastro de Profissional da Saúde</a
          >
        </li>
      </ul>
    </li>
  </ul>
</div>
